.title {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  color: mediumorchid;

}

.inputWrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  justify-content: center;
  padding: 0 10px;
}

.search {
  width: 400px;
}

.booksWrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.more-results {

}

.more-results-container {
  display: grid;
  margin-top: 20px;
  justify-content: center;
}

.avatar-big {
  height: 80px;
  width: 50px;
  border-radius: unset;
}

.ant-list-grid .ant-col .list-item-styles {
  display: grid;
}

.list-item-styles {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
}

.content-container {
  text-align: end;
}